@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #f0f0f0;
  color: #333;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3em;
  color: #333;
  font-weight: 600;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}

.card {
  width: 100%;
  height: 300px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
  font-weight: 600;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, var(--primary-color), var(--secondary-color));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  position: relative;
}

.popup-container h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.popup-container p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 300;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.view-project-button {
  background-color: #07182E;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 400;
}

.view-project-button:hover {
  background-color: #0f2a4a;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

