.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #f5f5f5;
}

.header-container .left {
  width: 70%;
}

.header-container .right {
  width: 30%;
}


.header-container img {
  max-width: 100%;
  border-radius: 50%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

